:root {
  --main-color: #007cef;
  --font-color: #222222;
}
body {
  color: var(--font-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.matzip-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}
.matzip-title {
  margin: 83px 0 80px 0;
  text-align: center;
  font-weight: 900;
  font-size: 70px;
  line-height: 101px;
}
.matzip-title strong {
  color: var(--main-color);
}

/* card */
.card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 150px;
}
.card {
  width: 450px;
  position: relative;
  padding: 20px 20px 30px 20px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.card .gu-name {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 8px 18px 9px 17px;
  left: 40px;
  top: 40px;
  z-index: 10;
  background: var(--main-color);
  border-radius: 50px;
}
.card .main-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  position: relative;
  margin-bottom: 24px;
}
.card .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.main-info .main-title {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 35px;
  position: relative;
}
.main-info .main-title::after {
  content: "";
  display: inline-block;
  width: 1px;
  background-color: #888888;
  vertical-align: -1px;
  margin: 7px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.main-info .main-tel {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 35px;
  margin-left: 20px;
  color: var(--main-color);
}
.card .content {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 29px;
  margin-bottom: 20px;
  text-align: justify;
}
.info-list {
  width: 356px;
  margin-bottom: 5px;
  color: #007cef;
}
.info-list .info-wrap {
  width: 100%;
  margin-bottom: 5px;
}
dt,
dd {
  display: inline-block;
}
.info-list dt {
  width: 60px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
  color: #aaaaaa;
  vertical-align: top;
  height: 23px;
  overflow: hidden;
}
.info-list dt:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.info-list dd {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  width: 270px;
  color: #666666;
  vertical-align: middle;
}

.like-wrap {
  position: absolute;
  right: 20px;
  bottom: 35px;
  cursor: pointer;
}

/* 페이지네이션 */
.pagenation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 150px;
  position: relative;
}
.pagenation-wrap li {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  padding: 12px 25px;
  cursor: pointer;
}
.pagenation-wrap li:last-child {
  margin-right: 0;
}
.pagenation-wrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 30px;
  top: 25px;
  left: -84px;
  background: no-repeat url(../images/icon/arrow-left.svg);
  cursor: pointer;
}
.pagenation-wrap::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 30px;
  top: 25px;
  right: -84px;
  background: no-repeat url(../images/icon/arrow-right.svg);
  cursor: pointer;
}

/* 페이지네이션 선택 시 */
.active {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 50px;
}
